/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #540b51;
    max-width: 768px;
    width: 100vw;
  }

  #slack-logo {
    width: 80px;
    margin: 15px;
    background: #540b51;
  }

  .navbar-links {
    display: none;
  }

  .nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .nav-icons button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .nav-icons button img {
    width: 30px;
  }

  .header-section {
    display: flex;
    justify-content: center;

    flex-direction: column;
    background-color: #540b51;
    width: 100vw;
  }

  .header-section > h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
  }

  .header-section > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 20px;
    text-align: center;
  }

  #signup-button {
    width: 90%;
    height: 50px;
    margin: 10px;
    text-align: center;
    color: #540b51;
    border: none;
    border-radius: 2px;
  }

  #google-button {
    width: 90%;
    margin: 10px;
    margin-top: 0px;
    height: 50px;
    text-align: center;
    background-color: #4285f4;
    color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 2px;
    font-weight: 900;
    display: flex;
  }

  #google-logo {
    width: 30px;
    background: white;
    border: none;
    border-radius: 2px;
  }

  #google-text {
    margin: 0 auto;
  }

  #hero {
    width: 100vw;
  }

  #refs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eae2;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #refs-container > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    font-weight: 600;
    margin-top: 40px;
  }

  #ref-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align logos from left to right with space between */
    align-items: center; /* Center the logos vertically */
    max-width: 800px; /* Adjust max-width as needed */
    padding: 20px;
    width: ;
  }

  #ref-logos img {
    margin: 0px 5px; /* Add padding between logos */
  }

  #nasa-logo {
    width: 20%;
  }

  #airbnb-logo {
    width: 25%;
  }

  #uber-logo {
    width: 20%;
  }

  #target-logo {
    width: 15%;
  }

  #nyt-logo {
    width: 45%;
  }

  #spotify-logo {
    width: 40%;
  }

  #text-header {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    margin-top: 60px;
    color: #540b51;
    font-family: Arial, Helvetica, sans-serif;
  }

  #text-sub {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .percentage {
    font-size: 60px;
    color: #540b51;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  #list {
    list-style: none;
    text-align: center;
  }

  .percentage-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 12px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
  }

  #contact {
    background: #540b51;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 28px;
  }

  .contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .contact-buttons > button {
    border: none;
    height: 40px;
    font-size: 14px;
    color: #540b51;
    border-radius: 2px;
  }

  #sales-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }

  ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  ul > li {
    margin-top: 20px;
  }

  hr {
    margin-top: 40px;
  }

  .ul-footer-logos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
  }

  #small-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.618);
  }
}
